.app {
  background-color: var(--main-bg-color);
}

.container {
  min-height: 100vh;
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  height: 104px;

}

.content {
  min-height: calc(
    100vh - 269px
  ); 
}

.footer {
  height: 93px;
  box-sizing: border-box;
}
